/* Default */
ul,
li {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.btn.btn-inline {
  border-radius: 0 !important;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  border-bottom: none !important;
}

.nlb-save-wrapper {
  position: fixed;
  right: 20px;
  z-index: 9999;
  top: 50%;
}

.nlb-save-wrapper .btn-add-section,
.nlb-save-wrapper .btn-save-data {
  border: none !important;
  margin: 0;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  padding: 4px 9px !important;
  background: #fcfcfc;
  color: #555 !important;
  bottom: 0;
  box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.23);
  opacity: 1;
  transition: opacity 0.1s ease-out;
  font-size: 1.2rem;
}

.nlb-save-wrapper .btn-save-data {
  color: white !important;
}

.link-disabled {
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
  color: #dddddd !important;
}

/* Element */
.nlb-wrapper .content-element {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

*[data-type="nlb_section"] {
  padding: 30px 0 0 0 !important;
  border: 2px dashed #979797;
  position: relative;
}

*[data-type="nlb_row"],
.element {
  position: relative;
}
*[data-type="nlb_section"],
*[data-type="nlb_row"],
*[data-type="nlb_column"] {
  min-height: 80px !important;
}
*[data-type="nlb_btn"] {
  width: 100%;
}
.element.btn {
  padding: 0;
}

/* Hover on element */
.hover-element-section,
.hover-element-row,
.hover-element-column,
.hover-element-node,
.hover-element-block,
.hover-element-text,
.hover-element-video,
.hover-element-audio,
.hover-element-image,
.hover-element-button {
  background-color: #ffffe0 !important;
}

/* Bar buttons action */
.nbl-bar-buttons-action {
  box-shadow: 0 1px 10px -2px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 500;
}
.row > .nbl-bar-buttons-action {
  width: inherit !important;
}
*[data-type="nlb_section"] > .nbl-bar-buttons-action {
  display: block;
}
div[data-type="nlb_column"] > .nbl-bar-buttons-action {
  left: 150px;
}
div[data-type="nlb_column"] div > .nbl-bar-buttons-action {
  left: 35%;
  top: 50%;
}
.nbl-bar-buttons-action ul li {
  display: block;
  float: left;
}
.nbl-bar-buttons-action ul li .icon-move {
  cursor: move !important;
}
.nbl-bar-buttons-action ul li .type-name {
  text-transform: uppercase;
  /*font-size: 0.75em;*/
  float: right;
  margin-left: 5px;
}
.nbl-bar-buttons-action ul li a {
  color: #555 !important;
}
.nbl-bar-buttons-action .item-list .ajax-progress {
  left: 44%;
  bottom: -5px;
  z-index: 1;
}
.nbl-bar-buttons-action .btn {
  padding: 6px !important;
  margin: 0 !important;
  line-height: 100%;
  border: none;
  border-radius: 0;
  font-size: 0.75em;
}
.nbl-bar-buttons-action .btn:hover {
  background-color: #ddd;
}

/* Preloading */
*[data-type="nlb_section"] .ajax-progress {
  position: absolute;
  left: 52%;
  bottom: -15px;
}
*[data-type="nlb_section"] .ajax-progress-throbber .throbber {
  padding: 2px 7px;
}

/* Modal Form */
.drupal-modal {
  min-height: 0 !important;
}
.ui-dialog {
  z-index: 999;
}
.ui-dialog form .form-item,
.ui-dialog form .form-actions {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ui-dialog form label {
  display: block;
}
.ui-dialog form label.option {
  display: inline;
}
.ui-dialog .ui-widget-content.ui-dialog-content {
  padding: 0;
}
.ui-dialog details {
  border: none;
  padding: 0 !important;
}
.ui-dialog details > .details-wrapper {
  padding: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
  top: 15px;
}
.ui-dialog .ui-dialog-titlebar-close {
  background-color: transparent;
  border: none;
}
.ui-dialog .ui-dialog-titlebar-close::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f057";
}
.ui-dialog details summary {
  padding: 5px 0px;
  margin: 10px 0 20px 0;
}
.ui-dialog details > div {
  padding: 15px;
}
.ui-dialog details details {
  margin-left: 20px;
}

.styles_margin,
.styles_padding {
  margin: 44px;
  position: relative;
  border: 5px solid transparent;
  min-height: 200px;
}
.styles_margin {
  border: dashed 1px #dddddd;
  width: 50%;
}
.styles_padding {
  background: #f6f6fb;
}
.styles_margin input,
.styles_padding input {
  position: absolute;
  text-align: center;
  padding: 3px 0;
  height: 24px !important;
  width: 34px !important;
  margin: 0;
  border: 1px solid #dddddd;
  font-size: 12px;
  line-height: 12px;
  outline: none;
  border-radius: 4px;
}
.styles_margin label,
.styles_padding label {
  position: absolute;
  left: 2px;
  top: 2px;
}
.styles_margin input[name="configue[styles][margin_padding][margin][top]"] {
  top: 11px;
  left: 50%;
  margin-left: -17px;
}
.styles_padding input[name="configue[styles][margin_padding][padding][top]"] {
  top: 11px;
  left: 50%;
  margin-left: -17px;
}
.styles_margin input[name="configue[styles][margin_padding][margin][bottom]"] {
  bottom: 11px;
  left: 50%;
  margin-left: -17px;
}
.styles_padding
  input[name="configue[styles][margin_padding][padding][bottom]"] {
  bottom: 11px;
  left: 50%;
  margin-left: -17px;
}
.styles_margin input[name="configue[styles][margin_padding][margin][left]"] {
  top: 50%;
  left: 5px;
  margin-top: -12px;
}
.styles_padding input[name="configue[styles][margin_padding][padding][left]"] {
  top: 50%;
  left: 5px;
  margin-top: -12px;
}
.styles_margin input[name="configue[styles][margin_padding][margin][right]"] {
  top: 50%;
  right: 5px;
  margin-top: -12px;
}
.styles_padding input[name="configue[styles][margin_padding][padding][right]"] {
  top: 50%;
  right: 5px;
  margin-top: -12px;
}

/* Tab */
.tab-content {
  padding: 10px;
}
.nav-tabs {
  background-color: #f0f1ff;
}
.nav-tabs > li > a {
  border: none !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:active {
  background-color: #e5f6ff;
}

/* List categories elements */
.categories-element-list li {
  float: left;
  margin: 0 8px 10px 0 !important;
  padding: 25px 8px !important;
  width: 19%;
  text-align: center;
  color: #005d96;
  background-color: #e4f5ff;
  border: solid 1px #0075bd !important;
}
.categories-element-list.full li {
  padding: 40px 10px !important;
  width: 100%;
}
.categories-element-list li span {
  display: block;
  margin-bottom: 5px;
}
.categories-element-list li a {
  color: #00486f;
  font-size: 1.5em;
}

/* Sortable */
.ui-state-highlight {
  background-image: url("../img/bg-ui-state-highlight-2.png");
  background-attachment: fixed;
  background-color: yellow;
  background-color: #428bca;
  border: none;
}

/* Video Player */
.video-player-wrapper.responsive-video {
  position: relative;
  height: 0;
  padding-bottom: 50%;
}
.video-player-wrapper.responsive-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* Map */
.nlb-map-view {
  width: 100%;
  height: 100%;
}
.element.map {
  z-index: 1;
}

/* List templates layout */
.list-templates {
  display: flex;
  flex-wrap: nowrap;
}
.list-templates > li {
  margin: 5px !important;
  padding: 5px !important;
  width: 33%;
  border: solid 5px #dddddd !important;
}
.list-templates > li img {
  width: 300px;
  height: 300px;
}
.add-templates {
  text-align: center;
  padding: 40px;
}

/* Alter toastr */
.toast-success {
  background-color: #51a351 !important;
}

/* Sortable */
.chosen-background-class {
  background-color: #eff6fc;
}
